<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MarketSimulator.Properties.Settings>
            <setting name="YahooURI" serializeAs="String">
                <value>http://ichart.finance.yahoo.com/table.csv?s={0}&amp;d=3&amp;e=17&amp;f=2013&amp;g=d&amp;a=0&amp;b=29&amp;c=1993&amp;ignore=.csv</value>
            </setting>
            <setting name="StartingBalance" serializeAs="String">
                <value>10000</value>
            </setting>
        </MarketSimulator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MarketSimulator.Properties.Settings>
            <setting name="Security" serializeAs="String">
                <value>APPL</value>
            </setting>
            <setting name="WorkingDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="PreviousSecurities" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AAPL</string>
                    </ArrayOfString>
                </value>
            </setting>
        </MarketSimulator.Properties.Settings>
    </userSettings>
</configuration>