<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarketSimulator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <MarketSimulator.Properties.Settings>
            <setting name="YahooURI" serializeAs="String">
                <value>http://ichart.finance.yahoo.com/table.csv?s={0}&amp;d=3&amp;e=17&amp;f=2013&amp;g=d&amp;a=0&amp;b=29&amp;c=1993&amp;ignore=.csv</value>
            </setting>
        </MarketSimulator.Properties.Settings>
    </applicationSettings>
</configuration>